{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}


{% block form %}

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
{#<p>{% blocktrans with site.name as site_name %}{{ site_name }}{% endblocktrans %}</p>#}

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>
{% include "socialaccount/snippets/login_extra.html" %}

</div>

{#{% include "socialaccount/snippets/login_extra.html" %}#}

{#{% else %}#}
{#<p>{% blocktrans %}If you have not created an account yet, then please#}
{#<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>#}
{% endif %}

{#<form class="fh5co-form animate-box" data-animate-effect="fadeIn" method="POST" action="{% url 'account_login' %}">#}
{#  {% csrf_token %}#}
{#  {{ form.as_p }}#}
{##}
{#  {% if redirect_field_value %}#}
{#  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />#}
{#  {% endif %}#}
{#  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>#}
{#  <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>#}
{#</form>#}
	<form action="{% url 'account_login' %}" class="fh5co-form animate-box" data-animate-effect="fadeIn" method="post">
						{% csrf_token %}
                        <h2>登 录</h2>
                        {% for field in form %}
						<div class="form-group">
                         {{ field.errors }}
                            {{ field.label_tag }}&nbsp;&nbsp;{{ field }}
                             {% if field.help_text %}
                         <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}

						</div>

                        {% endfor %}

                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}


						<div class="form-group">
							<p>没有注册? <a href="{{ signup_url }}">注 册</a> | <a href="{% url 'account_reset_password' %}">重置密码</a></p>
						</div>
						<div class="form-group">
							<input type="submit" value="Sign In" class="btn btn-primary">
						</div>

					</form>

{% endblock %}
