{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block form %}

    <form method="POST" action="{% url 'account_change_password' %}" class="fh5co-form animate-box" data-animate-effect="fadeIn" >
        {% csrf_token %}
    <h2>{% trans "Change Password" %}</h2>
       {% for field in form %}
            <div class="form-group">
                {{ field.errors }}
                {{ field.label_tag }}&nbsp;&nbsp;{{ field }}
                 {% if field.help_text %}
             <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}

            </div>

        {% endfor %}
{#        <in type="submit" name="action">{% trans "Change Password" %}</in>#}
    <div class="form-group">
            <input type="submit" value="{% trans 'Change Password' %}" class="btn btn-primary" name="action">
        </div>
    </form>
{% endblock %}
