{% extends 'base.html' %}
{% load index_tags %}
{% block content %}
    <div id="main-container" class="container clearfix">
        <section class="post-left">
            <div class="breadcrumb">您的位置： <a itemprop="breadcrumb" href="/">首页</a> » <span
                    class="current">Python</span></div>
            <div class="index-main clearfix">
                <div class="main-title">
                    <h4 class="post-left-title">标签：{{ Tags.name }}</h4>
                </div>
                <div class="row">
                        <div class="tab" role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="#Section1"  role="tab" data-toggle="tab">时间排序</a></li>
                            <li><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">热度排序</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content tabs">
                            <div class="tab-pane fade in active" id="Section1">

                                <ul>
                                {% for article in articles %}
                                    <li>
                        <div class="article-box clearfix excerpt-1">
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <a href="/show-2.html" title="{{ article.title }}">
                                        <img src="/media/{{ article.img_link }}"
                                             alt="{{ article.title }}" class="wp-post-image" width="240" height="160"/></a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h2><a href="/show-2.html" target="_blank"
                                       title="{{ article.title }}">{{ article.title }}</a></h2>
                                <p class="txtcont hidden-xs"><a href="/show-2.html"
                                                                target="_blank"
                                                                title="{{ article.title }}">{{ article.desc }}</a></p>
                                <div class="meta"><span class="label label-info"><a
                                        href="/tags/{{ Tags.slug }}/">{{ Tags.name }}</a></span>
                                    <time class="item"><i
                                            class="fa fa-clock-o"></i>{{ article.create_time }}
                                    </time>
                                </div>
                            </div>
                        </div>
                                </li>
                                {% endfor %}
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="Section2">

                                <ul>
                                    {% list_hot articles as tags_hot_list%}
                                    {% for hot in tags_hot_list %}
                                    <li>
                        <div class="article-box clearfix excerpt-1">
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <a href="/show-7.html" title="{{ hot.title }}">
                                        <img src="/media/{{ hot.img_link }}"
                                             alt="网站设计-不只是门面漂亮这么简单" class="wp-post-image" width="240" height="160"/></a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h2><a href="/show-7.html" target="_blank"
                                       title="{{ hot.title }}">{{ hot.title }}</a></h2>
                                <p class="txtcont hidden-xs"><a href="/show-7.html"
                                                                target="_blank"
                                                                title="{{ hot.title }}">{{ hot.desc }}</a></p>
                                <div class="meta"><span class="label label-info"><a
                                        href="/tags/{{ Tags.slug }}/">{{ Tags.name }}</a></span>
                                    <time class="item"><i
                                            class="fa fa-clock-o"></i>{{ hot.create_time }}
                                    </time>
                                </div>
                            </div>
                        </div>

                                    </li>
                            {% endfor %}
                                </ul>
                            </div>

                        </div>
                    </div>


            <div class="pagination">
                <ul>

                     <li class="prev-page"></li>






                                    <li class="active"><span>1</span></li>





                                    <li><a href="?page=2">2</a></li>






                            <li class="next-page"><a href="?page=2">下一页</a></li>

                </ul>
            </div>

                </div>
            <!-- /文章列表 -->
            </div>
        </section>
        <!-- /post-left -->
        <!-- /post-right -->
        {% include 'blog/right.html' %}
    </div>

{% endblock content %}