{% extends 'blog/base.html' %}
{% load index_tags %}
{% block content %}
    <div id="main-container" class="container clearfix">
        <section class="post-left">
            <div class="breadcrumb">您的位置： <a itemprop="breadcrumb" href="{% url 'index' %}">首页</a> » <span
                    class="current">文章分类</span></div>
            <div class="index-main clearfix">
                <div class="main-title">
                    <h4 class="post-left-title">分类：{{ Category.name }}</h4>
                </div>
                <div class="row">
           <div class="text-secondary font-weight-bold py-2 f-15 choice" style="margin-left: 20px">
                {% url 'category_list' Category.slug as all_articles %}
                {% url 'category_list_hot' Category.slug as all_articles_hot %}
                <a class="pb-2 {% if request.path == all_articles %}active{% endif %}" href="{{ all_articles }}">
                    <i class="fa fa-bars mr-1"></i>时间排序</a>&nbsp;
                <a class="pb-2 ml-4 {% if request.path == all_articles_hot %}active{% endif %}" href="{{ all_articles_hot }}">
                    <i class="fa fa-fire mr-1"></i>热度排序</a>
            </div>

                  {% load_article_summary articles %}

                </div>
            </div>
<div class="pagination">
        {% if is_paginated %}
        <ul>
            {% if page_obj.has_previous %}
             <li class="prev-page"><a href="?page={{ page_obj.previous_page_number }}">上一页</a></li>
            {% endif %}
{#                    <li class="active"><span>1</span></li>#}
{#                    <li><a href="?page=2">2</a></li>#}
        <li class="">
             <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
        </li>
            {% if page_obj.has_next %}
            <li class="next-page"><a href="?page={{ page_obj.next_page_number }}">下一页</a></li>
          {% endif %}
        {% endif %}
        </ul>
</div>
        </section>
        <!-- /post-left -->
        <!-- /post-right -->
        {% include 'blog/right.html' %}
    </div>

{% endblock content %}