{% extends 'blog/base.html' %}
{% load staticfiles %}
{% load index_tags%}
{% block content %}
    <div id="main-container" class="container clearfix">
        <section class="post-left">
            <div class="row">
                <!-- /banner图 -->
                    <div class="warper">
                        <div id="wowslider-container1">
                            <div class="ws_images">
                                <ul>
                                    {% get_banner_list as banner_list %}
                                    {% for banner in banner_list %}
                                    <li><a target="_blank" href="{{ banner.link_url }}"><img title="{{ banner.title }}" src="/media/{{ banner.img }}" /></a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="ws_thumbs">
                                <div>
                                    {% get_banner_list as banner_list %}
                                    {% for banner in banner_list %}
                                    <a target="_blank" href="#"><img src="/media/{{ banner.img }}" /></a>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="ws_shadow"></div>
                        </div>
                    </div>
                <!-- /banner图 -->

                <!-- /今日头条 -->
            </div>
            <!-- /文章列表 -->
            <div class="index-main clearfix">
                <div class="main-title">
                    <h4 class="post-left-title fl">最新文章</h4>
                    <div class="fr"></div>
                </div>
                <div class="row">
                    {% for article in articles %}
                        <div class="article-box clearfix excerpt-1">
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <a href="{% url 'article_detail' article.slug  %}" title="{{ article.title }}">
                                        <img src="/media/{{ article.img_link }}"
                                             srcset="/media/{{ article.img_link }}"
                                             alt="{{ article.title }}" class="wp-post-image" width="240" height="160"/></a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h2><a href="{% url 'article_detail' article.slug  %}" target="_blank" title="{{ article.title }}">{{ article.title }}</a></h2>
                                <p class="txtcont hidden-xs"><a href="/" target="_blank"
                                                                title="{{ article.title }}">{{ article.desc }}</a></p>
                                <div class="meta"><span class="label label-info"><a
                                        href="{% url 'category_list' article.category.slug  %}">{{ article.category.name }}</a></span>
                                    <time class="item"><i class="fa fa-clock-o"></i>{{ article.create_time }}
                                    </time>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
                <!-- /文章列表 -->
            </div>
        </section>
        <!-- /post-left -->
        <!-- /post-right -->
        <aside class="post-right hidden-xs">
            <section class="widget post-right-item"><h4 class="post-right-title">个人空间</h4>
                <a href="#"><img src="{% static "blog/picture/github.png" %}" style="max-width:40px" title="博主的github">
                    <p class="mr_p">GitHub</p></a>

            </section>

            <section class="widget post-right-item">
                <h4 class="post-right-title">热门文章排行</h4>
                <ol class="hot-list">
                    {% get_hot_article as hot_article_list %}
                    {% for article in  hot_article_list %}
                        <li><a href="{% url 'article_detail' article.slug  %}" title="{{ article.title }}">{{ article.title }}</a></li>
                    {% endfor %}

                </ol>
            </section>


            <section class="widget post-right-item"><h4 class="post-right-title">所有标签</h4>
                <div class="tags">
                    {% get_all_tags as tags_list %}
                    {% for tag in tags_list %}
                        <a href="{% url 'tags_list' tag.slug  %}">{{ tag.name }}</a>
                    {% endfor %}
                </div>
            </section>
            <!-- /关注我们 -->
                <div class="post-right-item">
                <h4 class="post-right-title">联系方式</h4>
                <div class="wid-about">
                    <p>TigerShark个人博客, 欢迎！</p>
                    <img src="{% static 'blog/picture/weixin.jpg' %}" width="160" height="160">
                </div>
                <div class="wid-about">
                    <p><strong>联系方式:</strong></p>
                    <p>QQ:781977456</p>
                    <p>Email：781977456@qq.com</p>
                </div>
                </div>
                   </aside>
    </div>


        <div class="FriendLink hidden-xs clearfix">
            <div class="title"><h3>友情链接：</h3></div>
            <ul class="clears">
                {% get_friend_link as friend_link_list %}
                {% for friend_link in friend_link_list %}
                    <li><a href="{{ friend_link.link_url }}" target="_blank">{{ friend_link.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

