{% extends 'blog/base.html' %}
{% load comment_tags %}
{% load static %}
{% block head %}
{% if user.is_authenticated %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endif %}
<link href="{% static 'comment/css/base_comment.css' %}?v=20180114.008" rel="stylesheet">
{% endblock %}
{% block content %}
    <!-- /主体 -->
    <div id="main-container" class="container clearfix">
        <section class="post-left">
            <div class="breadcrumb">您的位置： <a itemprop="breadcrumb" href="{% url 'index' %}">首页</a> » <a
                    href="{% url 'all_articles' %}">博客</a> »
                <span class="current">正文</span></div>
            <div class="post-main clearfix">
                <h1 class="post-title">{{ articles.title }}</h1>
                <div class="post-con clearfix">
                    <div class="article-meta">
                        <span class="item">分类：<a href="{% url 'all_articles' %}" rel="category tag">{{ articles.category.name }}</a></span>
                        <span class="item">作者：{{ articles.user.username }}</span>
                        <span class="item">浏览：{{ articles.scan_num }}</span>
                        <span class="item">{{ articles.create_time }}</span>

                    </div>
                    {% autoescape off %}
                    <article class="article-content">
                     {{ articles.content }}
                    </article>
                    {% endautoescape %}

                    <div class="post-tag"><span class="fa fa-tags" aria-hidden="true"></span>标签：
                        {% for tags in article_tags %}
                            <a href="{% url 'tags_list' tags.slug  %}" rel="tag">{{ tags.name }}</a>
                        {% endfor %}

                        
                    </div>
                    <div>
                        {% if previous_article %}
                        <div><b>上一篇：</b>
                            <a href="{% url 'article_detail' previous_article.id %}" class="article-tag">{{ previous_article.title }}</a>
                        </div>
                         {% endif %}
                        {% if next_article %}
                        <div><b>下一篇：</b>
                            <a href="{% url 'article_detail' next_article.id %}" class="article-tag">{{ next_article.title }}</a>
                        </div>
                        {% endif %}
                    </div>
                </div>

            </div>
            <!-- /文章 -->


            <div class="widget post-right-item" id="comment-block">
                {% include 'comment/comment_form.html' %}
                {% get_parent_comments articles as comment_list %}
                {% include 'comment/comment_list.html' %}
            </div>
{#        <div class="col-lg-3">#}
{#            <div class="article-toc d-none d-lg-block f-16">#}
{#                {{ articles.toc|safe }}#}
{#            </div>#}
{#        </div>#}

        </section>
        <!-- /post-left -->
        <!-- /post-right -->
       {% include 'blog/right.html' %}
    </div>
    <!-- /主体 -->


<!-- 底部 -->
{% endblock %}

{% block footer %}
{% if user.is_authenticated %}
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script src="{% static 'comment/js/editor.js' %}?v=20180113.05907"></script>
<script src="{% static 'comment/js/activate-power.js' %}?v=20180120"></script>
<script>
var sw=window.screen.width;if(sw>1200){POWERMODE.colorful=true;POWERMODE.shake=false;document.body.addEventListener('input',POWERMODE)};

</script>
{% endif %}
{% endblock %}